[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eLNNpairedCov"]
	path = eLNNpairedCov
	url = https://github.com/cran/eLNNpairedCov
